<html>
    <head>
        <title>Success blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Success blog</a></h1>
        </div>

        <div>
            <h2><a href="">First post</a></h2>  
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id <br /> elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor <br /> mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>published: 16.05.2017, 18:10</p>    
        </div>

        <div>
            <h2><a href="">Second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. <br /> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac <br />cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>published: 16.05.2017, 18:16</p>     
        </div>
    </body>
</html>
